body{
    background-color: whitesmoke;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.main{
    background-color: rgb(248, 235, 235);
    height: calc(100vh - 40px);
    border-radius: 15px;
}
h1, .name {
    color: rgb(228, 101, 101);
    font-weight: 690px;
}
.btn {
    background-color: rgb(228, 101, 101);
    color: white;
    height: 50px;
    width: 100px;
    font-size: 1.15em;
    border-radius: 7px;
    border: none;
    box-shadow: 1px 2px 10px gray;
    cursor: pointer;
    
}
.btn:hover {
    background-color: rgb(196, 88, 88);
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(248, 239, 239);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;

    .name {
        cursor: pointer;
        background-color: rgb(247, 222, 222);
        padding: 10px;
        border-radius: 10px;
    }
    .name:hover {
            background-color: rgb(243, 195, 195);
    }

    .options {
        display: flex;
        justify-content: space-between;
        width: 34%;

        a {
            text-decoration: none;
            color: black;
            font-weight: 560;
            font-size: 1.15em;
            background-color: rgb(235, 230, 230);
            padding: 10px;
            border-radius: 10px;
        }
        a:hover {
            background-color: rgb(216, 211, 211);
        }
    }
}
.content {
    padding: 20px;
    
    .hero-section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap:20px;

        .call-to-action {
            display: flex;
            flex-direction: column;
            gap: 50px;
        }

        .main-title {
            color: rgb(53, 46, 46);
        }

        .description {
            font-weight: 520;
            color: rgb(64, 60, 60);
            line-height: 20.6px;
            font-size: 1.2em;
        }

        .image {
            img {
                height:420px;
                width:490px;
                border-radius: 10px;
            }
        }
    }
}
