.h1{
    color: rgb(228, 101, 101);
    font-weight: 690px;
    display: flex;
    position: absolute;
    margin-left: 100px;
    margin-top: 40px;
}
body{
    background-color: whitesmoke;
    justify-content: center;
    align-items: center;
}
.babycare{
    background-color: white;
    height: 100vh;
    margin-right: 50px;
    margin-left: 50px;
}
.buy{
    display: flex;
    justify-content: flex-end;
    gap: 40px;
    margin-right: 800px;
          margin-top: 40px;
}

a{
    text-decoration: none;
    color: black;  
    display: inline-block;
    margin-top: 40px;     
    font-weight: 560;
    font-size: 1.15em;                                                                                                                                                                                                                                                            
}
.button{
    display: flex;
    justify-content: flex-end;
    margin-right: 60px;
}
button{
    background-color: rgb(228, 101, 101);
    color: white;
    height: 50px;
    width: 100px;
    font-size: 1.15em;
    border-radius: 7px;
    border: none;
}
.care{
    color: rgb(53, 46, 46);
        margin-left: 100px;
        margin-top: 140px;
        font-weight: 580px;
}
p{
    margin-left: 100px;
    font-weight: 520;
    color: rgb(64, 60, 60);
    line-height: 20.6px;
    font-size: 1.15em;
}
.shop{
    margin-left: 100px;
    margin-top: 30px;
}
.image{
    display: flex;
    justify-content: flex-end;
    margin-right: 60px;
}